/* You can add global styles to this file, and also import other style files */

@import "~@ctrl/ngx-emoji-mart/picker";
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #545454;
    a {
        color: #45df57;
        // Bo duong ke gach chan
        text-decoration: none;
    }
}
